
.icon-spin4:before { content: '\e800'; } /* '' */
.icon-spin5:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-flag-empty:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-angle-double-left:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */